name: Build VRigUnity

on: workflow_dispatch

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  buildWindows:
    name: Build for Windows
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-VRigUnity-Windows64
          restore-keys: |
            Library-VRigUnity-
            Library-
      
      - uses: game-ci/unity-builder@v2
        with:
          buildName: VRigUnity
          targetPlatform: StandaloneWindows64

      - uses: actions/upload-artifact@v2
        with:
          name: build-StandaloneWindows64
          path: build/StandaloneWindows64

  buildLinux:
    name: Build for Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-VRigUnity-Linux64
          restore-keys: |
            Library-VRigUnity-
            Library-

      - uses: game-ci/unity-builder@v2
        with:
          buildName: VRigUnity
          targetPlatform: StandaloneLinux64

      - uses: actions/upload-artifact@v2
        with:
          name: build-StandaloneLinux64
          path: build/StandaloneLinux64

  buildOSX:
    name: Build for OSX
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-VRigUnity-OSX
          restore-keys: |
            Library-VRigUnity-
            Library-

      - uses: game-ci/unity-builder@v2
        with:
          buildName: VRigUnity
          targetPlatform: StandaloneOSX

      - uses: actions/upload-artifact@v2
        with:
          name: build-StandaloneOSX
          path: build/StandaloneOSX
